html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

.container{
    height: 800px;
    width: 800px;
    background-color: rgb(238, 192, 236);
    margin:auto;
    
}

body{
    background-color: rgb(255, 255, 255);
}

.heading{
    width:700px;
    margin:0 auto;
    text-align:center;
    font-size:30px;
    background-color: aqua;
}
.image-container-1,.image-container-2{
    display:inline-block;
    width:300px;
    height:600px;
    margin:20px;
    background-color: #f1fcf0;
    
    
}
.image-1{
    height:400px;
    width: 295px;
    margin:auto;
   
}

.image-2{
    height:400px;
    width:295px;
    margin: auto;
}

.link-1,.link-2{
    display:block;
    margin:40px;
    margin-top: 50px;;
    font-size:25px;
    font-weight: bold;
    color:rgb(150, 200, 57);
    
}



